apiVersion: apps/v1
kind: Deployment
metadata:
  name: platform-demo
  namespace: platformdemo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: platform-demo
  template:
    metadata:
      labels:
        app: platform-demo
    spec:
      containers:
        - name: platform-demo
          image: acrplatformdemodev.azurecr.io/platform-demo:1.0
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
